.message {
  justify-self: center;
  font-family: OpenSans;
  font-size: 18px;
  grid-area: message;
  width: 502px;
  text-align: center;
  @media (min-width: 800px) {
    justify-self: start;
  }
}

.listBox {
  grid-area: listBox;
  justify-self: center;
  @media (min-width: 800px) {
    justify-self: start;
  }
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .showButton {
    border-radius: 5px;
    background: rgb(33, 150, 243);
    width: 91vw;
    height: 50px;
    color: rgb(255, 255, 255);
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    @media (min-width: 550px) {
      width: 502px;
    }
  }
}
